In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Open CSV files that are needed
offence_data = pd.read_csv("lga-offence-raw.csv", encoding = "ISO-8859-1")
community_data = pd.read_csv("community-data-raw.csv", encoding = "ISO-8859-1")

In [13]:
series = pd.Series([1,2,3,4])
series.sum()

10

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
N = 100

## generate toy data
ind = np.random.choice(['retail','construction','information'], N)
cty = np.random.choice(['cooltown','mountain pines'], N)
age = np.random.choice(['young','old'], N)
jobs = np.random.randint(low=1,high=250,size=N)

## prep data frame
df_city = pd.DataFrame({'industry':ind,'city':cty,'jobs':jobs,'age':age})
df_city_grouped = df_city.groupby(['city','industry','age']).sum()
df_city_grouped.unstack().plot(kind='bar',stacked=True,figsize=(9, 6),title='Jobs by city, industry, age group')
df_city_grouped

                                   jobs
city           industry     age
cooltown       construction old     912
                            young   932
               information  old     686
                            young   833
               retail       old     985
                            young  2628
mountain pines construction old     647
                            young  1119
               information  old    1039
                            young  1859
               retail       old     989
                            young  1006

In [15]:
a=[1,2,3]
b = [1,3,4]
c=[4,5,6]
np.add(a,b,c)

TypeError: return arrays must be of ArrayType